# IntelliJ project files
.idea/dictionaries
.idea/inspectionProfiles
.idea/misc.xml
.idea/modules.xml
.idea/primefactorstdd.iml
.idea/vcs.xml
.idea/workspace.xml
out
gen

# __pycache__/ containing .pyc files & .pyc files
__pycache__/
*.pyc

# .coverage
.coverage
